.postcard h3 {
  height: 40px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
 }


 .scrollbtn{
  position: fixed;
  bottom: 0%;
  right: 20%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #0a0dc0;
  border: none;
  border-radius:28px;

 }
